---
import Section from '../Section.astro'

// TODO Implement this
---

<Section className={Astro.props.className} title="News & More">
  <p>When I'm not working on Software I spend a lot of time running, and am currently training for the Richmond Marathon in September 2026!</p>
  <p>This will be my first time running the full distance after 3 half-marathons in the last 2 years.</p>
</Section>